/*----------------------------Global Root Variables---------------------------------------*/

:root {
/*---Color Variables---*/
    --green_emerald: #79C384;
    --green_celadon: #A1E0AD;
    --green_honeydew: #D9EEDC;
    --off_white: #FFFAF1;
    --salmon: #ED806C;
    --danger: #ffeb3b;
    --warning: #b71c1c;
    --champagne: #F9E3D6;
    --pink: #E7BEBF;
    --silver: #6C7479;
    --green_silver: #90A591;
    --purpblue: #44578F;
    
/*---Font Variables---*/

--standardfont: bilo, Arial, sans-serif;
--specialfont: filson-soft, Arial, sans-serif;

}
/*---------------------Responsive Font Groups -----------------------------------------*/
html {
    font-size:16px;
}

.title-txt {font-family: var(--specialfont);font-weight: 700;color: var(--off_white);}

body, div, p {font-family: var(--standardfont);font-weight: 400;color: var(--purpblue);}

.white-txt {font-family: var(--standardfont);font-weight: 400;color: var(--off_white);}

.focus-txt {font-family: var(--standardfont);font-weight: 400;color: var(--purpblue);}

.large-label {font-size:1.5rem;font-family: var(--specialfont);font-weight: 400;font-style:normal;color: var(--purpblue);}

.med-label {font-size:1.25rem;font-family: var(--specialfont);font-weight: 400;font-style:normal;color: var(--purpblue);}

.small-label {font-size:0.75rem;font-family: var(--standardfont);font-weight: 400;font-style:italic;color: var(--purpblue);}


/*---------------------------------------------------------------------------------------*/


/*--base.html ----*/

body {
    background-color: var(--champagne);
    font-family:filson-soft;
}

nav {  
    background-color: var(--green_emerald);
}

/*--created seperate nav-outer div to create seperation between logo and menu items--*/

.nav-outer {
    padding-bottom:3vh;
    
}


.nav-wrapper {
    padding:1vh 3vw;
}



nav ul a,
.brand-logo {
    color: var(--champagne);
    text-shadow: 2px 2px 2px rgba (0,0,0,00.8); 
}



.flashes h4 {
    line-height:2;
}


/*--index.html / Profile ---*/
.outline-box {
    border:solid 2px var(--green_celadon);
    background-color: var(--green_honeydew);
    border-radius: 20px;
    padding: 2vh 0;
}

.filled-box {
    border:solid 2px var(--green_celadon);
    background-color: var(--green_emerald);
    border-radius: 20px;
    padding: 2vh 0;  
}

.inactive-box {
    border:solid 2px var(--green_celadon);
    background-color: var(--silver);
    border-radius: 20px;
    padding: 2vh 0;  
}

.admin-box {
    border:solid 2px var(--green_celadon);
    background-color: var(--purpblue);
    border-radius: 20px;
    padding: 2vh 0;  
}

.focus-box {
    border:solid 2px var(--green_celadon);
    background-color: var(--green_emerald);
    border-radius: 20px; 
}

.key-value-box {
    border:solid 2px var(--green_celadon);
    background-color: var(--champagne);
    border-radius: 20px; 
    padding: 1vh 0; 
}

.warning-box {
    border:solid 2px var(--warning);
    background-color: var(--danger);
    border-radius: 20px; 
    padding: 1vh 0; 
}

#home-user-pane {
    margin-top:2vh
}

.btn, .btn-large {
    width:100%;
    border-radius: 20px;
    padding-left:-20px;
    text-align:center;
}

#disabled-txt {
    margin-top:0;
}

#alarm {
    padding:0;
}

.btn-neutral {
    background-color:var(--champagne);
    border: 1px solid var(--salmon);
}

.btn-green {
    background-color:var(--green_emerald);
}

.btn-label {
    padding:0;
}

.btn-icon {
    padding-left:5px;
}


/*-- registration form --*/

/*--added wrapper to password section to enable absolute position of placing show / hide p/word toggle icon within input field --*/

#password-wrapper {
    position: relative;
}

.toggle-password {
    position:absolute;
    top:10px;
    right:50px;
}

#join-btn-img {
    padding-right: 2vw;
}

/*-- Sign-In Form --*/


/*-- Quick Calc --*/

.collapsible-body {
    background-color:var(--green_honeydew);
}

/*-- Defect : Fix - materialize valign switches display to flex (centers), additional css to force right alignment--*/

#calc-results-wrapper, 
#calc-item-count-wrapper {
    padding-right:2vw;
}

#qc-calc-result {
    display:flex;
    justify-content:flex-end;
}

/*--Materialize inout styles cannot be overridden by class, specificty requires naming of IDs hence multiple ID listings--*/

#qc-carbs-big-item1,
#qc-carb-per-g-item1,
#qc-carbs-big-item2,
#qc-carb-per-g-item2,
#qc-carbs-big-item3,
#qc-carb-per-g-item3,
#qc-carbs-big-item4,
#qc-carb-per-g-item4 {
    border-bottom: none;
}

#qc-carbs-perG-wrapper1,
#qc-carbs-perG-wrapper2,
#qc-carbs-perG-wrapper3,
#qc-carbs-perG-wrapper4 {
    background-color:var(--silver);
    border-radius: 20px;
}


#qc-carbs-perG-wrapper1 > *,
#qc-carbs-perG-wrapper2 > *,
#qc-carbs-perG-wrapper3 > *,
#qc-carbs-perG-wrapper4 > * {
    font-style: italic;
    color:var(--off_white);
}

/*-- animation on collapsible dropdown arrow  --*/ 

.collapsible li i {
    transform: rotate(270deg);
}

.collapsible li.active i {
    transform: rotate(0deg);
  }


 /*-- overide of materialize input fields requires higher specificty selections than class alone --*/
 
.collapsible-body > .input-field {
    padding-left: 5vw;
    padding-right:2vw;
    display:flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.collapsible-body > .input-field > input {
    width:25%;
}

/*-- Admin Content --*/

/*-- Manage Foods--*/

.warning-icon {
    display:inline-flex;
    vertical-align:top;
    font-size:3rem;
    background-color: rgb (0,0,0); 
}

.modal-title {
    display:inline-flex;
}

.item-card {
    padding: 1vh 1vw;
    display:grid;
}

#item-card-admin {
    
    border: 2px solid var(--green_silver);
    border-radius: 0.5vw;
    display: grid;
    background: var(--green_honeydew);
    margin-bottom: 1vh;
    padding: 1vh 1vw;
    grid-template-columns: 5;
    grid-gap: 0;
    row-gap: 0.25vh;
    /*-- CSS BEAUTIFIER AUTO-STYLING GRID-LAYOUT ON SINGLE ROW???--*/
    grid-template-areas: 
    "A1  A1   A1   A4   A4"
    "B1  B2   B2   B4   B5" 
    "C1  C2   C2   C2   C2" 
    "D1  D2   D2   D4   D5" 
    "E1  E2   E2   E4   E5" 
   }

#item-card-admin > * {
    padding: 0 0.5vw;
}

.itm-cd-label {
    border: 2px solid var(--green_silver);
    border-right:0;
    text-align:right;
    background-color:var(--green_celadon);
}

.itm-cd-value {
    border: 2px solid var(--green_silver);
    border-left:0;
    text-align:left; 
}

#itm-cd-title {
    grid-area: A1;
    text-align:center;
    background-color:var(--green_emerald);
}

#itm-cd-subtitle {
    grid-area: A4;
    background-color:var(--green_emerald);
}

#itm-cd-cat-label {
    grid-area: B1;
}

#itm-cd-category {
    grid-area: B2;
}

#itm-cd-carbs-label {
    grid-area: B4;
}

#itm-cd-carbs {
    grid-area: B5;
}

#itm-cd-tags-label {
    grid-area: C1;
}

#itm-cd-tags {
    grid-area: C2;
}

#itm-cd-created-label {
    grid-area: D1;
}

#itm-cd-createdby {
    grid-area: D2;
}

#itm-cd-status-label {
    grid-area: D4;
}

#itm-cd-status {
    grid-area: D5;
}

#itm-cd-id-label {
    grid-area: E1;
}

#itm-cd-id {
    grid-area: E2;
}

#itm-cd-editbtn {
    grid-area: E4;
}

#itm-cd-deletebtn {
    grid-area: E5;
}

#item-card-admin > .btn-small {
    height: 95%;            /*--minor adjustment to remain within auto-height sizing of grid row --*/
}


/*-- Edit Food--*/
#edit-item-card,
#add-item-card {
    
    border: 2px solid var(--green_silver);
    border-radius: 0.5vw;
    display: grid;
    background: var(--green_honeydew);
    margin-bottom: 1vh;
    padding: 1vh 1vw;
    grid-template-columns: 5;
    grid-gap: 0;
    row-gap: 0.25vh;
   }

#edit-item-card {
   grid-template-areas: 
   "EA1  EA1   EA1   EA4   EA4"
   "EB1  EB2   EB2   EB4   EB5" 
   "EC1  EC2   EC2   EC2   EC2" 
   "ED1  ED2   ED2   ED4   ED5" 
   "EE1  EE2   EE2   EE4   EE5" 
}

#edit-item-card > * {
    padding: 0 0.5vw;
}

#edit-item-card > .itm-cd-label {
    border: 2px solid var(--green_silver);
    border-right:0;
    text-align:right;
    background-color:var(--green_celadon);
}

#edit-item-card > .itm-cd-value {
    border: 2px solid var(--green_silver);
    border-left:0;
    text-align:left; 
    margin-bottom:0;
}

#food-title {
    font-size:1.5rem;
    grid-area: EA1;
    padding-right:5vw;
    border: 2px solid var(--green_silver);
    border-right:0;
    text-align:center;
    background-color:var(--green_emerald);
}

#food-subtitle {
    grid-area: EA4;
    background-color:var(--green_emerald);
    font-size:1.5rem;
}

#edit-itm-cd-cat-label {
    grid-area: EB1;
}

#cat-name {
    grid-area: EB2;
}

#edit-itm-cd-carbs-label {
    grid-area: EB4;
}

#base-carbs {
    grid-area: EB5;
}

#edit-itm-cd-tags-label {
    grid-area: EC1;
}

#food-tag {
    grid-area: EC2;
}

#edit-itm-cd-created-label {
    grid-area: ED1;
}

#food-createdby {
    grid-area: ED2;
}

#edit-itm-cd-status-label {
    grid-area: ED4;
}

#food-status {
    grid-area: ED5;
}

#edit-itm-cd-id-label {
    grid-area: EE1;
}

#food-id {
    grid-area: EE2;
}

#edit-itm-cd-editbtn {
    grid-area: EE4;
}

#edit-itm-cd-deletebtn {
    grid-area: EE5;
}

#edit-item-card-admin > .btn-small {
    border: 2px solid var(--green_silver);
}

#edit-itm-cd-new-btn {
    margin-bottom: 1vh;
}

/*--Add Food --*/
/*-- as noted above, to override materialize styles on input fields seperate grids had to be created, as validator requires unique ids, and classes do not override materialize--*/

#add-item-card {
    grid-template-areas: 
   "AA1  AA2   AA2   AA4   AA5"
   "AB1  AB2   AB2   AB4   AB5" 
   "AC1  AC2   AC2   AC2   AC2" 
   "AD1  AD2   AD2   AD4   AD5" 
   "AE1  AE2   AE2   AE4   AE5" 
}

#add-item-card > * {
    padding: 0 0.5vw;
}


#add-item-card > .itm-cd-label {
    border: 2px solid var(--green_silver);
    border-right:0;
    text-align:right;
    background-color:var(--green_celadon);
}

#add-item-card > .itm-cd-value {
    border: 2px solid var(--green_silver);
    border-left:0;
    text-align:left; 
    margin-bottom:0;
}

#add-food-title-label {
    grid-area: AA1;
}

#add-food-title,
#add-food-subtitle {
    font-size:1.5rem;
    
    background-color:var(--green_emerald);
    margin-bottom:0;
}

#add-food-title {
    grid-area: AA2;
}


#add-food-subtitle-label {

    grid-area: AA4;
}

#add-food-subtitle {
    grid-area: AA5;
    background-color:var(--green_emerald);
    font-size:1.5rem;
    margin-bottom:0;
}

#add-itm-cd-cat-label {
    grid-area: AB1;
}

#add-cat-name {
    grid-area: AB2;
}

#add-itm-cd-carbs-label {
    grid-area: AB4;
}

#add-base-carbs {
    grid-area: AB5;
}

#add-itm-cd-tags-label {
    grid-area: AC1;
}

#add-food-tag {
    grid-area: AC2;
}




