/*----------------------------Global Root Variables---------------------------------------*/

:root {
/*---Color Variables---*/
    --green_emerald: #79C384;
    --green_celadon: #A1E0AD;
    --green_honeydew: #D9EEDC;
    --off_white: #FFFAF1;
    --salmon: #ED806C;
    --champagne: #F9E3D6;
    --pink: #E7BEBF;
    --silver: #6C7479;
    --purpblue: #44578F;
    
/*---Font Variables---*/

--standardfont: bilo, Arial, sans-serif;
--specialfont: filson-soft, Arial, sans-serif;

}
/*---------------------Responsive Font Groups -----------------------------------------*/
html {
    font-size:16px;
}

.title-txt {font-family: var(--specialfont);font-weight: 700;color: var(--off_white);}

body, div, p {font-family: var(--standardfont);font-weight: 400;color: var(--green_emerald);}

.focus-txt {font-family: var(--standardfont);font-weight: 400;color: var(--purpblue);}

.large-label {font-family: var(--specialfont);font-weight: 400;font-style:normal;color: var(--purpblue);}

.med-label {font-size:0.75rem;font-family: var(--specialfont);font-weight: 400;font-style:normal;color: var(--purpblue);}

.small-label {font-size:0.75rem;font-family: var(--standardfont);font-weight: 400;font-style:italic;color: var(--purpblue);}


/*---------------------------------------------------------------------------------------*/


/*--base.html ----*/

body {
    background-color: var(--champagne);
    font-family:filson-soft;
}

nav {  
    background-color: var(--green_emerald);
}

/*--created seperate nav-outer div to create seperation between logo and menu items--*/

.nav-outer {
    padding-bottom:3vh;
    
}


.nav-wrapper {
    padding:1vh 3vw;
}



nav ul a,
.brand-logo {
    color: var(--champagne);
    text-shadow: 2px 2px 2px rgba (0,0,0,0.5); /*--change these from lesson settings */
}



.flashes h4 {
    line-height:2;
}


/*--index.html / Profile ---*/
.outline-box {
    border:solid 2px var(--green_celadon);
    background-color: var(--green_honeydew);
    border-radius: 20px;
    padding-top: 2vh 0;
}

.filled-box {
    border:solid 2px var(--green_celadon);
    background-color: var(--green_honeydew);
    border-radius: 20px;
    padding: 2vh 0;  
}

.inactive-box {
    border:solid 2px var(--green_celadon);
    background-color: var(--silver);
    border-radius: 20px;
    padding-top: 2vh 0;  
}

.admin-box {
    border:solid 2px var(--green_celadon);
    background-color: var(--purpblue);
    border-radius: 20px;
    padding-top: 2vh 0;  
}

.focus-box {
    border:solid 2px var(--green_celadon);
    background-color: var(--green_emerald);
    border-radius: 20px;
      
}

#home-user-pane {
    margin-top:2vh
}

.btn, .btn-large {
    width:100%;
    border-radius: 20px;
    padding-left:-20px;
    text-align:center;
    
}

#disabled-txt {
    margin-top:0;
}

#alarm {
    padding:0;
}

.btn-neutral {
    background-color:var(--champagne);
    border: 1px solid var(--salmon);
}

.btn-green {
    background-color:var(--green_emerald);
}

.btn-label {
    padding:0;
}

.btn-icon {
    padding-left:5px;
}


/*-- registration form --*/

/*--added wrapper to password section to enable absolute position of placing show / hide p/word toggle icon within input field --*/

#password-wrapper {
    position: relative;
}

.toggle-password {
    position:absolute;
    top:10px;
    right:50px;
}

#join-btn-img {
    padding-right: 2vw;
}

/*-- sign-in form --*/


/*-- quick calc --*/

#calc-results-wrapper > * {
    display:inline-block;
}

