/*----------------------------Global Root Variables---------------------------------------*/

:root {
    /*---Font Variables---*/
    --green_celadon: #A1E0AD;
    --green_emerald: #79C384;
    --salmon: #ED806C;
    --champagne: #F9E3D6;
    --pink: #E7BEBF;
    --silver: #6C7479;
    --purpblue: #44578F;
    
}
/*---------------------------------------------------------------------------------------*/


body {
    background-color: var(--champagne);
}

nav {  
    background-color: var(--green_celadon);
}

nav ul a,
.brand-logo {
    color: var(--salmon);
    text-shadow: 2px 2px 2px rgba (0,0,0,0.5); /*--change these from lesson settings */
}