{% extends "base.html" %}
{% block content %}

<h3 class="center-align title-txt filled-box">Add New Food Entry</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_food')}}">

        <div id="add-item-card">
        
            <div id="add-food-title-label" class="itm-cd-label">Item Title:</div>
            <input id="add-food-title" name="add-food-title" class="itm-cd-value large-label validate" minlength="3" maxlength="25" type="text" required>

            <div id="add-food-subtitle-label" class="itm-cd-label">Subtitle:</div>
            <input id="add-food-subtitle" name="add-food-subtitle" class="itm-cd-value large-label validate" minlength="3" maxlength="25" type="text">
                        
            <div id="add-itm-cd-cat-label" class="itm-cd-label">Category:</div>
            <input id="add-cat-name" name="add-cat-name" class="itm-cd-value med-label">

            <div id="add-itm-cd-carbs-label" class="itm-cd-label">Carbs Per Gram:</div>
            <input id="add-base-carbs" name="add-base-carbs" class="itm-cd-value med-label validate" type="number" step="0.01" required>

            <div id="add-itm-cd-tags-label" class="itm-cd-label">Tags:</div>
            <input id="add-food-tag" name="add-food-tag" class="itm-cd-value med-label">
        </div>

        <div id="add-actions" class="outline-box center-align">
            <a href="" class="btn-small green lighten-1">Save</a>
            <a href="{{ url_for('get_foods') }}" class="btn-small grey lighten-1">Cancel</a>
        </div>

    </form>
</div>


{% endblock %}