<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}

    <title>CarbSum</title>
</head>

<body>
    <header>
        <!-- top navbar-->
        <!-- Dropdown Structure -->
        <ul id="admin_dropdown" class="dropdown-content">
            <li><a href="#!">Manage New Entries</a></li>
            <li><a href="#!">Manage Tags</a></li>
            <li><a href="#!">Manage Categories</a></li>
        </ul>
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_foods') }}" class="brand-logo">CarbSum</a>
                <!--temp href - re-map to new index.html-->
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_foods') }}">Home</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Quick Calc</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="{{ url_for('join') }}">Join</a></li>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Sign Out</a></li>
                    <li><a href="#">Favourites</a></li>
                    <li><a href="#">Meals</a></li>
                    <li><a href="#">Create New Item</a></li>
                    <li><a href="#">Set Reminder</a></li>
                    <li><a href="#">How to Use</a></li>
                    <li><a href="#">About</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="admin_dropdown">Admin<i
                                class="fas fa-arrow-down"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- mobile side nav-->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4 class="center-align">CarbSum</h4>
            </li>
            <li><a href="{{ url_for('get_foods') }}">Home</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Quick Calc</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('join') }}">Join</a></li>
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Sign Out</a></li>
            <li><a href="#">Favourites</a></li>
            <li><a href="#">Meals</a></li>
            <li><a href="#">Create New Item</a></li>
            <li><a href="#">Set Reminder</a></li>
            <li><a href="#">How to Use</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Manage New Entries</a></li>
            <li><a href="#">Manage Tags</a></li>
            <li><a href="#">Manage Categories</a></li>
        </ul>

    </header>


    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>


    <main class="container">
        {% block content %}
        {% endblock %}
    </main>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>