{% extends "base.html" %}
{% block content %}

    <h3 class="center-align title-txt filled-box">Edit Food</h3>

    <div class="row">
        {% if 'admin_role' in session and session['admin_role'] %}
            <form id="edit-food-card" method="POST" action="{{ url_for('edit_food', food_id=food._id)}}" class="col s12">
        
        {% elif session.user|lower == food.created_by|lower %}
            <form id="edit-food-card" method="POST" action="{{ url_for('edit_my_food', food_id=food._id)}}" class="col s12">
        
        {% else %}
            <h4 class="center-align">You do not have permission to edit this item</h4>
            <a href="{{ url_for('add_userfood') }}" class="btn waves-effect waves-light">Click here to create your own version</button>
            <button class="btn waves-effect waves-light" onclick="goBack()">Click here to return to previous page</button>
        {% endif %}        

        <!--Food Item Title-->
        <input id="edit-food-title" name="edit-food-title" class="large-label validate" minlength="3" maxlength="25"
            value="{{ food.food_title }}" type="text" required>

        <!--Food Item SubTitle-->
        <input id="edit-food-subtitle" name="edit-food-subtitle" class="col itm-cd-value large-label validate" minlength="3"
            maxlength="25" type="text" value="{{ food.food_subtitle }}">

        <!--Food Category-->
        <div id="edit-food-cat-label" class="itm-cd-label">Category:</div>
        <div id="edit-food-cat-wrapper" class="input-field itm-cd-value med-label">
            <select id="edit-cat-name" name="edit-cat-name" required>
                <option value="" disabled selected>Choose Category</option>              
                {% for category in categories %}
                {% if category.cat_name == food.cat_name %}
                <option value="{{ category.cat_name }}" selected>{{ food.cat_name }}</option>
                {% else %}
                <option value="{{ category.cat_name }}">{{ category.cat_name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <!--Carb Section-->
        <div id="edit-food-carb-wrapper">
            
            
            <!--Portion Description-->
            <div id="edit-food-portion-descrip-label" class="itm-cd-label">Portion Description:</div>
            <div id="edit-portion-descrip-wrapper" class="input-field col itm-cd-value"> 
                <input id="edit-portion-descrip" name="edit-portion-descrip" class="med-label validate" type="text" minlength="3" maxlength="25" value="{{ food.portion_desc }}"required>
            </div>

            <!--Portion Unit-->
            <div id="edit-food-portion-unit-label" class="itm-cd-label">Portion Unit:</div>
            <div id="edit-portion-unit-wrapper" class="input-field col itm-cd-value med-label"> 
                <select id="edit-portion-unit" name="edit-portion-unit" required>
                    
                    <!--Bug same as noted against category for multi-select-->
                    <option value="g" >grams</option>
                    <option value="ml">ml</option>
                </select>
            </div> 

            <!--Portion Size-->
            <div id="edit-food-portion-size-label" class="itm-cd-label">Portion Size:</div>
            <div id="edit-portion-size-wrapper" class="input-field col itm-cd-value"> 
                <input id="edit-portion-size" name="edit-portion-size" class="med-label validate" type="number" step="1" min="1" oninput="calcEditFoodCarbs();" value="{{ food.portion_size }}" required>
            </div>

            <!--Carbs Per Portion-->
            <div id="edit-food-carbs-per-portion-label" class="itm-cd-label">Carbs Per Portion:</div>
            <div id="edit-carbs-per-portion-wrapper" class="input-field col itm-cd-value"> 
                <input id="edit-carbs-per-portion" name="edit-carbs-per-portion" class="med-label" type="number" min="0" oninput="calcEditFoodCarbs();" step="0.5" value="{{ food.portion_carbs }}">
            </div>

            <!--Carbs Per 100 g/ml-->
            <div id="edit-food-carbs-per100-label" class="itm-cd-label">Carbs Per 100 g/ml:</div>
            <div id="edit-carbs-per100-wrapper" class="input-field col itm-cd-value"> 
                <input id="edit-carbs-per100" name="edit-carbs-per100" class="med-label" type="number" value="{{ food.carbs_per_100g }}" step="0.1" readonly>
            </div>

            <!--Carbs Per Gram-->
            <div id="edit-food-carbs-per-gram-label" class="itm-cd-label">Carbs Per Gram:</div>
            <div id="edit-carbs-per-gram-wrapper" class="input-field col itm-cd-value">
                <input id="edit-carbs-per-gram" name="edit-carbs-per-gram" class="validate med-label" type="number" value="{{ food.base_carbs }}" step="0.01" readonly>
            </div>

            
            <!--Source-->
            <div id="edit-food-carbs-source-label" class="itm-cd-label">Source:</div>
            <div id="edit-carbs-source-wrapper" class="input-field col itm-cd-value"> 
                <input id="edit-carbs-source" name="edit-carbs-source" class="med-label validate" type="text" minlength="3" maxlength="25" value="{{ food.carb_source }}" required>
            </div>

        </div> <!-- close Carb Section-->

        <!-- Tags -->
        <div id="edit-food-tags-label" class="itm-cd-label">Tags:</div>
        <div id="edit-food-tag-wrapper" class="input-field col itm-cd-value med-label">
            <select multiple id="edit-food-tag" name="edit-food-tag">
                <option value="" readonly>Select Tags (optional)</option>
                {% for tag in tags %}
                    {% if tag.tag_name == food.tag_name %}
                        <option value="{{ tag.tag_name }}" selected>{{ food.tag_name }}</option>
                    {% else %}
                        <option value="{{ tag.tag_name }}">{{ tag.tag_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <!--info section-->
        <em id="disabled-label" class="small-label">The following is displayed for information purposes only and cannot be edited</em>

        <!--Created By (locked for editing : display for info only)-->
        <div id="edit-food-created-label" class="itm-cd-label">Created By:</div>
        <input id="edit-food-createdby" name="edit-food-createdby" class="itm-cd-value med-label" type="text" readonly value="{{ food.created_by }}">

        <!--Status (locked for editing : display for info only)-->
        <div id="edit-food-status-label" class="itm-cd-label">Status:</div>
        <div id="edit-food-status-wrapper" class="input-field col itm-cd-value med-label">
            <input id="edit-food-status" name="edit-food-status" class="itm-cd-value med-label" type="text" readonly value="{{ food.status }}">
        </div>

        <!--ID (locked for editing : display for info only)-->
        <div id="edit-food-id-label" class="itm-cd-label">ID:</div>
        <div id="edit-food-id-wrapper" class="input-field col itm-cd-value med-label">
            <input id="edit-food-id" name="edit-food-id" class="itm-cd-value small-label" type="text" readonly value="{{ food._id }}">
        </div>


        <!--Action Buttons-->
        <div id="edit-food-act-btns" class="center-align">
            <button type="submit" class="btn-small green lighten-1">Save</button>
            {% if 'admin_role' in session and session['admin_role'] %}
                <a href="{{ url_for('get_foods') }}" class="btn-small grey lighten-1">Cancel</a>

            {% elif session.user|lower == food.created_by|lower %}
                <a href="{{ url_for('user_view_food', food_id=food._id) }}" class="btn-small grey lighten-1">Cancel</a>
            
            {% endif %}   
            <a href="#confirm-delete-modal2-{{ food._id }}" class="modal-trigger btn-small red">Delete</a>
        </div>

        </form>
    </div>
    <!--Confirm Deletion Modal-->
    <div id="confirm-delete-modal2-{{ food._id }}" class="modal warning-box">

        <div class="modal-content blue-grey lighten-4">
            <div class="card-content red-text">
                <i class="material-icons prefix yellow-text warning-icon">warning</i>
                <h4 class="modal-title">Confirm Deletion</h4>
            </div>
            <p class="red-text"> WARNING: This action cannot be undone - please ensure you wish to remove this item before
                proceeding! </p>
            <p>ID of item to be deleted: {{ food._id }}</p>

            <div class="card-action">
                {% if 'admin_role' in session and session['admin_role'] %}
                <a href="{{ url_for('get_foods') }}" class="btn-small grey lighten-1">Cancel</a>
                <a href="{{ url_for('delete_food', food_id=food._id) }}" class="modal-trigger btn-small red">Confirm Deletion</a>

                {% elif session.user|lower == food.created_by|lower %}
                <a href="{{ url_for('user_view_food', food_id=food._id) }}" class="btn-small grey lighten-1">Cancel</a>
                <a href="{{ url_for('delete_my_food', food_id=food._id) }}" class="modal-trigger btn-small red">Confirm Deletion</a>
                {% endif %}  

                
            </div>
        </div>
    </div>
    
    
    

{% endblock %}