{% extends "base.html" %}
{% block content %}

<h3 class="center-align title-txt filled-box">Edit Category</h3>

<a id="edit-itm-cd-new-btn" href="{{ url_for('add_category') }}" class="btn blue lighten-1">Add New Category</a>


    <form class="col s12" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}">

        <div id="edit-category-card"> 
            <div id="edit-category-name-wrapper" class="row col s12 m8 valign-wrapper">
            <!--Category-->
                <div id="edit-category-label" class="col s4 itm-cd-label ">Cat. Name:</div>
                <input id="edit-category-name" name="edit-category-name" class="col s8 large-label itm-cd-value validate"
                minlength="3" maxlength="25" value="{{ category.cat_name }}" type="text" required>
            </div>

            <!--ID (locked for editing : display for info only)-->
            <div id="edit-category-id-wrapper" class="row col s12 m8 valign-wrapper">
                <div id="edit-cat-id-label" class="col s4 itm-cd-label ">ID:</div>
                <input id="edit-category-id" name="edit-category-id" class="col s8 itm-cd-value small-label" type="text" disabled
                value="{{ category._id }}">
            </div>

            <!--Action Buttons-->
            <div id="edit-cat-act-btns" class="center-align">
                <button type="submit" class="btn-small green lighten-1">Save</button>
                <a href="{{ url_for('get_categories') }}" class="btn-small grey lighten-1">Cancel</a>
                <a href="#confirm-delete-modal4-{{ category._id }}" class="modal-trigger btn-small red">Delete</a>
            </div>


        </div>
    </form>


<!--Confirm Deletion Modal-->
<div id="confirm-delete-modal4-{{ category._id }}" class="modal warning-box">

    <div class="modal-content blue-grey lighten-4">
        <div class="card-content red-text">
            <i class="material-icons prefix yellow-text warning-icon">warning</i>
            <h4 class="modal-title">Confirm Deletion</h4>
        </div>
        <p class="red-text"> WARNING: This action cannot be undone - please ensure you wish to remove this item before
            proceeding! </p>
        <p>ID of item to be deleted: {{ category._id }}</p>

        <div class="card-action">
            <a href="{{ url_for('get_categories') }}" class="btn-small grey lighten-1">Cancel</a>
            <a href="{{ url_for('delete_category', category_id=category._id) }}" class="modal-trigger btn-small red">Confirm Deletion</a>
        </div>
    </div>
</div>


{% endblock %}