{% extends "base.html" %}
{% block content %}

<h3 class="center-align title-txt filled-box">Find Food Items</h3>

<div class="row outline-box s12" id="find-food-top-pane">
   
    <div class="row">
        <div class="col s12 m4">
            <a href=""class="waves-effect waves-light btn-large med-label btn-green long-txt"><i
                    class="material-icons left icon">search</i>Search Categories</a>
        </div>
        
        <div class="col s12 m4">
            <a href=""class="waves-effect waves-light btn-large med-label btn-green long-txt"><i
                    class="material-icons left icon">search</i>Search By Tags</a>
        </div>

        <div class="col s12 m4">
            <a href=""class="waves-effect waves-light btn-large med-label btn-green long-txt"><i
                    class="material-icons left icon">search</i>View Favourites</a>
        </div>
    
    </div> <!--close row-->
</div> <!-- close top pane-->


<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('user_search') }}" method="POST" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix"></i>
                <input type="text" name="user_query" id="user_query" class="validate" minlength="3" required>
                <label for="user_query">Search Foods</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('find_foods') }}" class="orange darken-1 btn text-shadow">Reset</a>
                <button type="submit" class="btn btn-green text-shadow">Search</i>
                </button>
            </div>
        </div>
    </form>
</div>

{% if foods|length > 0 %}
    {% for food in foods %}
    <div id="find-food-user" class="row filled-box">
        <a href="{{ url_for('user_view_food', food_id=food._id) }}">
            <div id="find-food-title" class="col s12 large-label center-align">{{ food.food_title }} - {{ food.food_subtitle }}</div>
        </a>      
    </div>

    {% endfor %}

{% else %}
    <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
{% endif %}

{% endblock %}