{% extends "base.html" %}
{% block content %}

<h3 class="center-align title-txt filled-box">Food Card</h3>

<div class="row">
    <form id="user-food-card" class="col s12">

        <!--food card title-->
        <div id="food-card-title-wrapper" class="col s12 filled-box">
            {% if food.food_subtitle|length > 0 %}
                <h4 class="col s12 center-align white-txt">{{ food.food_title }} - {{ food.food_subtitle }}</h4>
            {% else %}
                <h4 class="col s12 center-align white-txt">{{ food.food_title }}
            {% endif %}
        </div>

        <!--food card info-->
        <div id="food-card-info-wrapper" class="col s12 outline-box">

            <!--category-->
            <div class="row">
                <div id="food-card-cat-wrapper" class="col s10 offset-s1 outline-box valign-wrapper">
                    <div class="col s3 left-align">Category:</div>
                    <div class="col s9 center-align">{{ food.cat_name }}</div>
                </div>
            </div>
            <!--tags (on seperate row to enable full width)-->
            <div class="row">
                <div id="food-card-tag-wrapper" class="col s10 offset-s1 outline-box">
                    <div class="col s11">Tags: {{ food.tag|join(', ') }}</div>
                </div>
            </div>


        </div><!--close info wrapper-->

        
        <!--food carbs data-->
        <div id="food-card-carbsdata-wrapper" class="col s12 outline-box">

            <!--total carbs-->
            <div class="row">
                <div id="food-card-carbs" class="col s10 offset-s1 focus-box valign-wrapper large-label">
                    <div class="col s8 right-align med-label">Total Carbs:</div>
                    <div id="food-calc-result" class="col s4 center-align white-box med-label">0<span>g</span></div>
                </div>
            </div>

            <!--base carbs-->
            <div class="row">
                <div id="food-card-base" class="col s10 offset-s1 info-box valign-wrapper">
                    <div class="col s9 right-align white-txt">Carbs per gram:</div>
                    <input id="food-base-carbs" name="food-base-carbs" class="col s3 right-align white-txt" type="number" step="0.001" min="0" value="{{ food.base_carbs }}" oninput="calcFoodCardCarbs();"><span>g</span></input>
                </div>
            </div>

            <!--Portion-->
            <div class="row">
                <div id="food-card-portion" class="col s10 offset-s1 outline-box valign-wrapper">
                    <div class="col s9 right-align med-label">Enter Portion Size:</div>
                    <input id="food-card-portion-data" name="food-card-portion-data" type="number" step="1" min="0" class="col s3 center-align validate med-label" value="0" oninput="calcFoodCardCarbs();" required><span>g</span></input>
                </div>
            </div>

             <!--Preset Portion Size-->
            <ul id="food-card-preset" class="col s10 offset-s1 collapsible">
                <li>
                    <div class="collapsible-header col s12">Click here to use pre-set portions</div>
                    <div class="collapsible-body">
                        <div>Portion: <em>{{ food.portion_desc }}</em></div>
                        <div>Weight: <em>{{ food.portion_size }}g</em></div>
                        <div>Portion carbs: <em>{{ food.portion_carbs }}g</em></div>
                        <div>Enter No. Portions:</div>
                        <div>Carbs for No. Portions:</div>
                </li>
            </ul>

            <!--
           <div class="col s9 right-align med-label">Enter Portion Size:</div>
                    <input id="food-card-portion-data" name="food-card-portion-data" type="number" step="1" min="0" class="col s3 center-align validate med-label  " value="0" oninput="calcFoodCardCarbs();" required><span>g</span></input>  
            
           -->

        </div><!--close carbs data wrapper-->

        <!--food card actions-->
        <div  id="food-card-actions-outer-wrapper" class="col s12 outline-box">
            <div id="food-card-actions-inner-wrapper" class="row">
                    <a class="waves-effect waves-light btn btn-med-label btn-green col s10 offset-s1"><i
                        class="material-icons left btn-icon">favorite</i>Add to Favourites</a>
                    <a class="waves-effect waves-light btn btn-med-label btn-green col s10 offset-s1"><i class="material-icons left btn-icon">add restaurant</i>Add to Meal</a>
                    <a class="waves-effect waves-light btn btn-med-label btn-green col s10 offset-s1"><i class="material-icons left btn-icon">create</i>Create New Variant</a>
            </div>
       </div><!--close food card actions-->
        
        <!--Food Admin Details-->
        <div id="food-card-admin-wrapper" class="col s12 inactive-box">
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="white-txt">Created by: {{ food.created_by }}</div>
                    <div class="white-txt">Status: {{ food.status }}</div>
                    <div class="white-txt">ID: {{ food._id }}</div>
                </div><!--Close Food Admin Details-->
            </div>
        </div>

    </form>
</div>



{% endblock %}