{% extends "base.html" %}
{% block content %}

    
    <div class="row">
        <div class="col s12" id="home-welcome-pane">
            <h3 class="center-align title-txt title-box">Welcome to CarbSum</h3>
            <h3 id="strap-line" class="center-align">A carb counting app for diabetics</h3>  
            <div class="col s12" id="title-image">
                <img id="main-img" src="../static/assets/Main-image.svg" alt="image">
            </div>
                
        </div><!-- close welcome pane-->
    </div><!--close row-->    

    
    <!--signup / log-in panel-->
    <div class="row outline-box" id="home-user-pane">
        <div class="row">
            <!--Join-->
            <div class="col s6">
                <a class="waves-effect waves-light btn btn-label btn-neutral center-align" href="{{ url_for('join') }}">
                    <i class="material-icons right-align icon">person_add</i>Join</a>
                <p class="center-align">New to CarbSum? Create an account to access further features!</p>
            </div>

            <!--Sign Up-->
            <div class="col s6">
                <a class="waves-effect waves-light btn btn-label btn-green center-align" href="{{ url_for('signIn') }}"><i class="material-icons right-align icon">account_circle</i>Sign In</a>
                <p class="center-align">Log-in to access your favourites</p>
            </div>
            <!--close Sign in wrapper-->
        </div> <!--close join / signin row-->

        <!--Link to Help / About-->
        <div class="row" id="help-about-wrapper">
            <div class="col s6">
                <a href="#home-media-modal" class="modal-trigger waves-effect waves-light btn-large btn-label">How To Use</a>
            </div>
            <div class="col s6">
                <a href="#home-about-modal" class="modal-trigger waves-effect waves-light btn-large btn-label">About CarbSum</a>
            </div>
        </div>
    </div> <!--close user pane-->

    
    <div class="row outline-box s12" id="home-top-pane">
        <!--Quick Calc-->
        <div class="row" id="home-quick-calc-wrapper">
            <div class="col s10 offset-s1">
                <a href="{{ url_for('quick_calc') }}" class="waves-effect waves-light btn-large btn-label btn-green"><i
                        class="fas fa-calculator right-align icon"></i>Quick Calc</a>
            </div>
        </div>
        <!--close quick calc wrapper-->
        
        <!--Search-->
        <div class="row" id="home-search-wrapper">
            <div class="col s10 offset-s1">
                <a href="{{ url_for('find_foods') }}" class="waves-effect waves-light btn-large btn-label btn-green"><i
                        class="material-icons right-align icon">search</i>Search</a>
            </div>
        </div> <!-- close search wrapper-->
        
    </div> <!-- close top pane-->

    <div class="row inactive-box s12" id="home-mid-pane">
        <p id="disabled-txt" class="center-align white-txt">Sign In to access personalised features</p>
        
        <div class="col s6" id="home-favourite-wrapper">
            <a class="waves-effect waves-light btn btn-small-label disabled"><i
                    class="material-icons right-align btn-icon">favorite</i>My Foods</a>
        </div> <!-- close favourites wrapper-->

        <div class="col s6" id="home-create-food-wrapper">
            <a class="waves-effect waves-light btn btn-small-label disabled"><i
                    class="material-icons right-align btn-icon">create</i>Add Food</a>
        </div> <!-- close create food wrapper-->

        <div class="col s6" id="home-create-menu-wrapper">
            <a id="alarm" class="waves-effect waves-light btn btn-small-label  disabled"><i
                    class="material-icons right-align btn-icon">playlist_add</i>Create Meal</a>
        </div> <!-- close create menu wrapper-->

        <div class="col s6" id="home-meals-wrapper">
            <a class="waves-effect waves-light btn btn-small-label disabled"><i
                    class="material-icons right-align btn-icon">restaurant</i>Meals</a>
        </div> <!-- close meals wrapper-->              
                                               
    </div><!-- close mid pane-->
                
    <!--About Modal-->
    <div id="home-about-modal" class="modal">
        <div class="modal-content green-modal">
            <h4>About CarbSum</h4>
            <p>Carbsum has been developed as a project for educational purposes (please see disclaimer section below prior to use). As a parent to a Type 1 Diabetic, this 'tool' has been designed to support our daily carb counting regime which is one of two primary inputs to calculate insulin dosages (the second primary input being carb to insulin ratios which are agreed with our medical team).</p><br>
            <br>

            <h4>Contact Us</h4>
            <p>Want to contact the developer with feedback, or suggestions for improvements:  <a href="mailto:electric-zebra@gmx.com">electric-zebra@gmx.com</a>
            </p><br>
            <br>

            <h4>Disclaimer</h4>
            <p>This app has been developed for educational purposes. The site does not provide any mecical / health advice. Information on carb data / portion sizes are provided 'in good faith' and for educational purposes only and is NOT suitable for professional advice. Persons using this site do so at their own risk.</p>
        </div>

        <div class="modal-footer green-modal">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>



    <!--Media Modal-->
    <div id="home-media-modal" class="modal ">
        <div class="modal-content green-modal">
            <h4>How to Use CarbSum</h4>
            <div>CarbSum has 2 primary uses; to aid with the calculation of carbohydrates in food, and act as a referrence library. We realise that the calculation of carbs can at some times need to be a quick activity. For this reason, these core functions are available without a need to sign-in.</div>
            <br>
            <hr class="divider">

            <h4>So why register an account?</h4>
            <div>Registering means that you can add your own food items to the database which will only be visible to you. You may for example want to add key food items not currently available in the database, or you may want to create your own variation of an existing item. For example, adjust the size of an average serving, change the carb ratio for a specific brand / cooking method or maybe you consume a type of apple with a higher carb ratio?!<br>
                <b>Play the clip below to see how to join and sign-in.
                </b><br>
                <video width="640" height="480" src="../static/assets/1.Join_Sign-Up.mp4" controls>
                </video>
            </div>

            <br>
            <hr class="divider">

            <h4>What is QuickCalc?</h4>
            <div>QuickCalc is a tool to calculate carbs if you have the nutrional information as found on the food packaging. By providing the carbs (normally per 100g but this can be adjusted for a different serving size) plus the weight of the portion of food, it will calculate the carbohydrate content.<br>
                <b>Watch the QuickCalc demonstration</b>
                <br>
                <video width="640" height="480" src="../static/assets/2.QuickCalc.mp4" controls>
                </video>
            </div>
            <br>
            <hr class="divider">

            <h4>Search the food database</h4>
            <div>At the time of initial launch, there are around 350 items in the database. These are available to Search by name, category or tags. Unlike the QuickCalc, these aleady include an indicated carb ratio, you just need to enter the weight.<br>
            Don't know the weight? Then you can also use the pre-set information. These provide a calculation for a single portion and allow you to change the portion number. The portion description explains what this representes, for example, this may be a single slice of bread, an individual biscuit, a 'small' piece of fruit, or an average serving size of baked beans!<br>
                <b>See demonstration on using the database / pre-set carb data</b>
                <br>
                <video width="640" height="480" src="../static/assets/3.Search.mp4" controls>  
                </video>
            </div>
            <br>
            <hr class="divider">

            <h4>My Foods</h4>
            <div>This is where any food items you create can be found. They are only visible to you, but can be used in exactly the same way as you can use food in the database - based on the data such as portion sizes, carb data which you provide.<br>
                <b>CWatch the demonstration below on adding your own food items
                </b>
                <br>
                <video width="640" height="480" src="../static/assets/4.Add_Foods.mp4" controls>    
                </video>
            </div>
        </div>
        <div class="modal-footer green-modal">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat btn-label">Close</a>
        </div>
    </div>
    

{% endblock %}