{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        
            <!--signup / log-in panel-->
            <div class="row outline-box s12" id="home-user-pane">

                <!--Join-->
                <div class="col s6">
                    <a class="waves-effect waves-light btn btn-label btn-neutral center-align"
                        href="{{ url_for('join') }}">
                        <i class="material-icons right-align icon">person_add</i>Join</a>
                    <p class="small-label">New to CarbSum? Create an account to access further features!</p>
                </div>

                <!--Sign Up-->
                <div class="col s6">
                    <a class="waves-effect waves-light btn btn-label btn-green center-align" href="{{ url_for('signIn') }}"><i class="material-icons right-align icon">account_circle</i>Sign In</a>
                    <p class="small-label">Remember to log-in to access your favourites and create meals</p>
                </div>
                <!--close Sign in wrapper-->
            </div> <!-- close user pane-->


            <div class="row outline-box s12" id="home-top-pane">
                <!--Search-->
                <div class="row" id="home-search-wrapper">
                    <div class="col s10 offset-s1">
                        <a class="waves-effect waves-light btn-large btn-label btn-green"><i
                                class="material-icons right-align icon">search</i>Search</a>
                    </div>
                </div> <!-- close search wrapper-->
                <!--Quick Calc-->
                <div class="row" id="home-quick-calc-wrapper">
                    <div class="col s10 offset-s1">
                        <a class="waves-effect waves-light btn-large btn-label btn-green"><i
                                class="fas fa-calculator right-align icon"></i>Quick Calc</a>
                    </div>
                </div>
                <!--close quick calc wrapper-->
            </div> <!-- close top pane-->


            <div class="row inactive-box s12" id="home-mid-pane">
                <p id="disabled-txt" class="center-align white-txt">Sign In to access personalised features</p>
                
                    <div class="col s6" id="home-favourite-wrapper">
                        <a class="waves-effect waves-light btn btn-small-label btn-green disabled"><i
                                class="material-icons right-align btn-icon">favorite</i>Favourites</a>
                    </div> <!-- close favourites wrapper-->

                    <div class="col s6" id="home-meals-wrapper">
                        <a class="waves-effect waves-light btn btn-small-label btn-green disabled"><i
                                class="material-icons right-align btn-icon">restaurant</i>Meals</a>
                    </div> <!-- close meals wrapper-->              
                
                    <div class="col s6" id="home-create-food-wrapper">
                        <a class="waves-effect waves-light btn btn-small-label btn-green disabled"><i
                                class="material-icons right-align btn-icon">create</i>Add Food</a>
                    </div> <!-- close reminder wrapper-->

                    <div class="col s6" id="home-create-menu-wrapper">
                        <a id="alarm" class="waves-effect waves-light btn btn-small-label btn-green disabled"><i
                                class="material-icons right-align btn-icon">playlist_add</i>Create Meal</a>
                    </div> <!-- close create new item wrapper-->
                
            </div><!-- close mid pane-->



            <div class="row outline-box s12" id="home-bottom-pane">
                <div class="row">
                    <div class="col s5 offset-s1">
                        <a class="waves-effect waves-light btn-large btn-small-label btn-green btn-label">How to Use</a>
                    </div>

                    <div class="col s5">
                        <a class="waves-effect waves-light btn-large btn-small-label btn-green btn-label">About</a>
                    </div>
                </div>
            </div><!-- close bottom pane-->

        
    </div><!--close full page col-->
</div><!--close page row-->

{% endblock %}