{% extends "base.html" %}
{% block content %}


<h3 class="center-align">Join CabSum</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('join') }}">
        <div class="card-panel">
            <div class="row">
                <!--username-->
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="username" name="username" type="text" class="validate">
                    <label for="username">Username</label>
                </div>
                <!--email-->
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="wrong" data-success="right">joebloggs@mail.com</span>
                </div>

            </div>
            <!--password-->
            <div class="row">
                <div id="password-wrapper" class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <!--added show / hide password toggle icon-->
                    <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password"></span>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <!--submit-->
            <div class="row">
                <button type="submit" class="col s12 btn-large"><i
                        class="material-icons prefix">border_color</i>Click to Join!</button>
            </div>

        </div>
    </form>
</div>

{% endblock %}
