{% extends "base.html" %}
{% block content %}

<h3 class="center-align title-txt filled-box">Manage Tags</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_tag') }}" class="btn-large btn-green">
            Add New Tag<i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row card-panel grey lighten-5">
    <form action="" method="POST" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix"></i>
                <input type="text" name="query" id="query" class="validate" minlength="3" required>
                <label for="query">Search Tags</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_tags') }}" class="orange darken-1 btn text-shadow">Reset</a>
                <button type="submit" class="btn btn-green text-shadow">Search</i>
                </button>
            </div>
        </div>
    </form>
</div>



    <div id="tag-card-admin">
        <div class="row title-row">
            <div class="col s5 large-label cat-cd-title">Tag Name</div>
            <div class="col s4 large-label cat-cd-title">Tag ID</div>
            <div class="col s3 large-label cat-cd-title">Actions</div>
        </div>
        {% for tag in tags %}
            <div class="row cat-row-wrap valign-wrapper">
                <div id="tag-cd-name" class="col s5 large-label cat-cd-value">{{ tag.tag_name }}</div>
                <div id="tag-cd-id" class="col s4 cat-cd-value"> {{ tag._id }}</div>
                <div id="tag-cd-btn-wrapper" class="col s3 cat-cd-value">
                    <a href="{{ url_for('edit_tag', tag_id=tag._id) }}" class="btn-small blue lighten-1">Edit</a>
                    <a href="#confirm-delete-modal5-{{ tag._id }}" class="modal-trigger btn-small red">Delete</a>
                </div>
            </div> <!--close looped row-->
            
    </div> <!--close card-->
    
    <div id="confirm-delete-modal5-{{ tag._id }}" class="modal warning-box">
    
        <div class="modal-content blue-grey lighten-4">
            <div class="card-content red-text">
                <i class="material-icons prefix yellow-text warning-icon">warning</i>
                <h4 class="modal-title">Confirm Deletion</h4>
            </div>
            <p class="red-text"> WARNING: This action cannot be undone - please ensure you wish to remove this item before proceeding! </p>
            <p>ID of item to be deleted: {{ tag._id }}</p>    
    
            <div class="card-action">
                <a href="{{ url_for('get_tags') }}" class="btn-small grey lighten-1">Cancel</a>
                <a href="{{ url_for('delete_tag', tag_id=tag._id) }}" class="modal-trigger btn-small red">Confirm Deletion</a>
            </div>
        </div>
    
    </div>

    {% endfor %}


{% endblock %}