{% extends "base.html" %}
{% block content %}

    <h3 class="center-align title-txt title-box">Manage Categories</h3>
    {% if 'admin_role' in session and session['admin_role'] %}
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('add_category') }}" class="btn-large blue lighten-1">
                    Add New Category<i class="fas fa-plus-square right"></i>
                </a>
            </div>
        </div>


        <div id="category-card-admin">

            {% for category in categories %}
            <div class="row cat-row-wrap">
                <div id="cat-cd-name" class="col s12 m6 med-label cat-cd-value">{{ category.cat_name }}</div>
                <div id="cat-cd-id" class="col s6 m3 small-label cat-cd-value"> {{ category._id }}</div>
                <div id="cat-cd-btn-wrapper" class="col s6 m3 cat-cd-value">
                    <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn-small blue lighten-1">Edit</a>
                    <a href="#confirm-delete-cat-modal-{{ category._id }}" class="modal-trigger btn-small red">Delete</a>
                </div>
            </div> <!--close looped row-->
                
        </div> <!--close card-->

        <div id="confirm-delete-cat-modal-{{ category._id }}" class="modal warning-box">

            <div class="modal-content blue-grey lighten-4">
                <div class="card-content red-text">
                    <i class="material-icons prefix yellow-text warning-icon">warning</i>
                    <h4 class="modal-title">Confirm Deletion</h4>
                </div>
                <p class="red-text"> WARNING: This action cannot be undone - please ensure you wish to remove this item before proceeding! </p>
                <p>ID of item to be deleted: {{ category._id }}</p>    

                <div class="card-action">
                    <a href="{{ url_for('get_categories') }}" class="btn-small grey lighten-1">Cancel</a>
                    <a href="{{ url_for('delete_category', category_id=category._id) }}" class="modal-trigger btn-small red">Confirm Deletion</a>
                </div>
            </div>

        </div>
        {% endfor %}
        
    {% else %}    

        <h4 class="center-align">This page is restricted to admin users</h4>
        <button class="btn waves-effect waves-light" onclick="goBack()">Click here to return to previous page</button>
    {% endif %}



{% endblock %}