{% extends "base.html" %}
{% block content %}

    <h3 class="center-align title-txt title-box">My Foods</h3>

    <h5 class="col s12 m8 center-align">This page lists any food items which have been created by you. Open the item to update or delete them.</h5><br>

    <div class="row outline-box s12" id="find-food-top-pane">

    <div class="row">
        <form action="{{ url_for('user_search_my_foods') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="user_query" id="user_query" class="validate" minlength="3" required>
                    <label for="user_query">Search My Foods</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('my_foods') }}" class="orange darken-1 btn text-shadow">Reset</a>
                    <button type="submit" class="btn btn-green text-shadow">Search</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% if foods|length > 0 %}
        {% for food in foods %}
            {% if session.user|lower == food.created_by|lower %}
        <div id="find-food-user" class="row filled-box">
            <a href="{{ url_for('user_view_food', food_id=food._id) }}">
                <!--Bug fix : redundant hyphen betwen title and subtitle if no subtitle exists. Fix: conditional if statement to only display hyphen & subtitle if value exists-->
                {% if food.food_subtitle|length > 0 %}
                <div id="find-user-food" class="col s12 med-label center-align">{{ food.food_title }} - {{ food.food_subtitle }}</div>
                {% else %}
                <div id="find-food-title" class="col s12 med-label center-align">{{ food.food_title }}</div>
                {% endif %}
            </a>      
        </div>
            {% endif %}
        {% endfor %}

    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}

{% endblock %}